.sobremi{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    font-size: 1.2rem;
    .contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 30px;
        max-width: 800px;

    }
}